.contact-list-main-con {
  //   background-color: var(--app-bgcolor);

  background-color: red;
}

.contact-list-con {
  background-color: blue;
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
