@import "../../../styles.scss";
.homepage-main {
  padding-top: var(--padding-top);
  background-color: var(--app-bgcolor);
  width: 100%;
  height: 100%;
}

.main-form {
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  // background-color: lightblue;
  .bitcoin-coin {
    width: 30%;
    height: auto;
    margin: 0 auto;
    // background-color: green;
    // margin-top: 20px;
    margin-bottom: 20px;
  }
  input {
    @include input-style;
  }
  button {
    @include button1-style;
  }
  .welcome-register {
    width: 200px;
    // height: 200px;
    margin: 0 auto;
    // background-color: green;
    input {
      width: 100%;
    }
    button {
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
  .welcome-user {
    .welcome-title {
      margin-bottom: 20px;
      font-size: 30px;
      text-align: center;
      //   background-color: green;
    }
    .welcome-username {
      color: blue;
    }
    .bitcoin-rate-con {
      .bitcoin-rate-price {
        color: white;
      }
    }
    .logout-con {
      margin-top: 20px;
      text-align: center;
    }
  }
}
