<section class="homepage-main">
    <div class="main-form">
        <div class="bitcoin-coin">
            <img src="../../../assets/imgs/bitcoin-coin1.png" />
        </div>
        <section *ngIf="!user.name">
            <div class="welcome-register">
                <input class="welcome-form-input" type="text" [(ngModel)]="username" placeholder="enter name..." />
                <br />
                <button class="login-btn btn" (click)="onLogin()">Login</button>
            </div>
        </section>
        <section *ngIf="user.name">
            <div class="welcome-user">
                <div class="welcome-title">
                    Welcome
                    <span class="welcome-username">{{user.name}}</span>
                </div>
                <div class="bitcoin-coins">
                    Coins: {{user.coins}}
                </div>
                <div class="bitcoin-rate-con">
                    Bitcoin Rate:
                    <span class="bitcoin-rate-price">{{bitcoinRate}}</span>
                    <br />
                    <!-- <button class="btn" (click)="onClickBitcoin()">LoadBitcoin</button> -->
                </div>
                <div class="logout-con">
                    <button class="btn" (click)="onLogout()">Logout</button>
                </div>
            </div>


        </section>

    </div>


</section>