.preview-main-con {
  //   background-color: aqua;
  width: 100%;
  margin: 0 auto;
  font-family: "Roboto";
  //   font-weight: bold;
  a {
    text-decoration: none;
    color: inherit;
  }
  .preview-con {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: green;
    .preview-edit-remove-con {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
        height: auto;
      }
    }
    .preview-pic-con {
      display: flex;
      margin: 7px;
      //   margin-left: 7px;
      //   margin-right: 7px;
      width: 100px;
      height: auto;
      img {
        border-radius: 50px;
        width: 100%;
        height: 100%;
      }
    }
  }
}
