<section class="details-main-con">
    <div class="details-con">
        <div class="details-profile-pic">
            <img [src]="this.contact.picture" />
        </div>
        <div class="details-info">
            <div class="details-info-col-con">
                <div class="details-field-con">
                    <label class="field-title">Name:</label>
                    <label class="field-value">{{this.contact.name}}</label>
                </div>
                <div class="details-field-con">
                    <label class="field-title">Phone:</label>
                    <label class="field-value">{{this.contact.phone}}</label>
                </div>
            </div>
            <div class="details-info-col-con">
                <div class="details-field-con">
                    <label class="field-title">Email:</label>
                    <label class="field-value">{{this.contact.email}}</label>
                </div>
                <div class="details-field-con">
                    <label class="field-title">Coins:</label>
                    <label class="field-value">{{this.contact.coins}}</label>
                </div>
            </div>
        </div>
        <div class="details-edit-con">
            <div class="moves-btn btn" title="Moves" (click)="isMovesShown=!isMovesShown"><img
                    src="https://img.icons8.com/ios/50/000000/ingredients-list.png" /></div>
            <div class="transfer-btn btn" (click)="isTransferShown=!isTransferShown"><img
                    src="https://img.icons8.com/color/48/000000/bitcoin--v1.png" /></div>
            <div class="details-edit-btn">
                <a [routerLink]="['../../edit/',contact._id]" class="navlink"><img
                        src="../../../assets/imgs/edit.png" /></a>
            </div>
        </div>
    </div>
    <app-bit-transfer-fund *ngIf="isTransferShown" (onTransferFund)="onTransferFund()" (close)="onTransfer('close')"
        [contactData]="contact"></app-bit-transfer-fund>
    <app-bit-moves-list *ngIf="isMovesShown && contact.moves.length > 0" (close)="onMoves('close')" [moves]="
        contact.moves"></app-bit-moves-list>
</section>