@import "../../../styles.scss";
.details-main-con {
  padding-top: var(--padding-top);
  background-color: var(--app-bgcolor);
  width: 100%;
  height: 100%;
}

.details-con {
  // background-color: yellow;
  // width: 400px;
  margin: 0 auto;
  .details-info-col-con {
    // background-color: yellow;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // text-align: center;
  }
  .details-field-con {
    margin-top: 30px;
    display: flex;

    background-color: yellow;
  }
  .details-profile-pic {
    margin-bottom: 50px;

    img {
      border-radius: 100px;
    }

    .field-title {
      margin-right: 5px;
      text-align: left;
      border-bottom: 3px solid red;
      // background-color: red;
      width: fit-content;
      // flex: 1;
    }
    .field-value {
      width: fit-content;
      // flex: 3;
      // background-color: brown;
    }
  }

  .details-info {
    display: grid;
    padding-left: 150px;
    padding-right: 150px;
    column-gap: 20px;
    height: 200px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    // background-color: lightblue;
    flex-direction: column;
    text-align: left;
    font-size: 24px;
    .field-value {
      overflow: hidden;
    }
  }
  .details-edit-con {
    .moves-btn {
    }
    .transfer-btn {
    }
    // background-color: green;
    display: flex;
    justify-content: center;

    width: 100%;

    .details-edit-btn {
      background-color: purple;
      width: 40px;
      height: auto;
      img {
      }
    }
  }
}
