<header class="header-con">
    <div class="header-logo regular-flex">
        <div class="header-logo-con">
            <img src="../../../assets/imgs/logo.png" />
        </div>
    </div>
    <div class="header-spacer">space</div>
    <ul class="nav">
        <!-- <div class="nav-icon-con1">
            <img src="https://img.icons8.com/color/48/000000/home--v1.png" />
        </div> -->
        <li>
            <a routerLink="" title="home" class="nav-router-link">
                <div class="nav-icon-con">
                    <img src="https://img.icons8.com/color/48/000000/home--v1.png" />
                </div>
            </a>
        </li>
        <li>
            <a routerLink="contacts" title="contacts" class="nav-icon-con"><img
                    src="https://img.icons8.com/color/48/000000/contact-card.png" /></a>
        </li>
        <li>
            <a [routerLink]="['details','5a56640252d6acddd183d319']" title="details" class="nav-icon-con">Details</a>
        </li>
        <li>
            <a [routerLink]="['edit','5a56640252d6acddd183d319']" title="edit" class="nav-icon-con">Edit</a>
        </li>
        <li>
            <a routerLink="stats" class="nav-icon-con" title="statistics"><img
                    src="https://img.icons8.com/color/48/000000/combo-chart--v1.png" /></a>
        </li>
        <li>
            <a (click)="onBack()" class="nav-icon-con" title="back"><img
                    src="https://img.icons8.com/color/48/000000/back--v1.png" /></a>
        </li>
        <li>
            <a href="/home.html" class="nav-icon-con" title="about"><img
                    src="https://img.icons8.com/color/48/000000/about.png" /></a>
        </li>
    </ul>
</header>