@import "../../../styles.scss";
.edit-main-con {
  padding-top: var(--padding-top);
  width: 100%;
  height: 100%;
  background-color: var(--app-bgcolor);
}

.edit-con {
  * {
    padding: 5px;
  }
  .edit-field-con {
    display: flex;
    background-color: yellow;
    .field-title {
      text-align: right;
      background-color: red;
      flex: 1;
    }
    .field-input {
      flex: 2;
      background-color: brown;
      width: 50%;
    }
  }
  button {
    margin-top: 20px;
  }
  background-color: green;
  width: 400px;
  margin: 0 auto;
  input {
    @include input-style;
  }
  button {
    @include button1-style;
  }
}
