/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
}

:root {
  --app-bgcolor: #22a7d9;
  --padding-top: 50px;
}

@mixin input-style {
  font-size: 20px;
  text-align: center;
  height: 30px;
  border: 0;
  border-radius: 10px;
}

@mixin button1-style {
  border: 0px solid black;
  cursor: pointer;
  height: 30px;
  padding: 18px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 11px 17px -3px #000000;
  border-radius: 15px;
  &:hover {
    background-color: red;
  }
  &:active {
    box-shadow: 0 0 0 0 #000000;
    transform: translateY(4x);
  }
}
img {
  max-width: 100%;
}

.header-logo {
  align-items: center;
  margin: 0;
  padding: 0;
}

.header-logo-con {
  margin: 0;
  padding: 0;
  background-color: green;
  width: 100%;
  height: 100%;
}
.regular-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.app1-con {
  font-family: "Roboto";
  display: grid;
  // background-color: red;
  grid-template-rows: 80px 1fr 40px;
  align-content: center;
  // justify-content: center;
  padding-left: 120px;
  padding-right: 120px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

.main1-con {
  //   display: flex;
  //   justify-content: center;
  width: 100%;
  height: 100%;
  //   margin: 0 auto;
  // background-color: blue;
}
.router1-con {
  // padding-top: 120px;
  height: 100%;
  width: 100%;
  // background-color: purple;
  text-align: center;
}

.header-con {
  display: flex;
  justify-self: flex-start;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background-color: aqua;
  margin: 0 auto;
  flex-wrap: wrap;
}

.header-logo {
  width: 120px;
  height: 100%;
  cursor: pointer;
}

.header-spacer {
  width: 150px;
  background-color: orange;
}

.nav {
  // -webkit-padding-start: 0;
  // padding-inline-start: 0px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}
.nav > * {
  flex: 1;
}

.nav > li {
  margin: 10px;
  background-color: purple;
  text-align: center;
  cursor: pointer;
}
.nav a {
  text-decoration: none;
  color: inherit;
  background-color: white;
  width: 150px;
}

.footer-con {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: lightblue;
  width: 100%;
  height: 100%;
  /* height: 40px; */
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.btn {
  cursor: pointer;
}
