<section class="transfer-main-con">

    <div class="transfer-con">
        <div class="transfer-con-title">
            <label>Transfer coins to {{contactData.name}}</label>
        </div>
        <div class="transfer-con-amount">
            Amount:<input type="number" min="1" [max]="user.coins" [(ngModel)]="amount">
            Max:{{user.coins}}
        </div>
        <div class="transfer-con-btn">
            <button (click)="onTransferCoins()">Transfer</button>
            <button (click)="onClose()">Cancel</button>
        </div>

    </div>
</section>